/* Stile für die Überschrift 1 festlegen */
h1 {font-size: 40px;}
/* Hintergrundfarbe für den gesamten Körper festlegen */
body   { 
	background-color: white;
}

/* Stile für die Absatz-Elemente festlegen */
p {
    position: relative;    		 		/* Elementposition relativ zur normalen Position */
    top: 36px;             				/* Abstand zum oberen Rand */
    background-color: #61112c;		   /* Hintergrundfarbe */
    color: white;          		   /* Schriftfarbe */
    padding: 8px;          				/* Abstand zwischen Rand und Text */
    font-size: 25px;       				/* Schriftgröße */
}

/* Stile für das Select-Element festlegen */
.select {
    display: none;         				/* Select-Element ausblenden */
}

/* Stile für das Eingabe-Formular festlegen */
.input{
    position: relative;     			/* Elementposition relativ zur normalen Position */
    top: 150px;            				/* Abstand zum oberen Rand */
    font-size: 30px;       				/* Schriftgröße */
}
/* Stile für den Placeholder im Inputfeld festlegen */
::placeholder{
    opacity: 0.5;
    color: f9f9f9;
    font-style: italic;
    padding-left: 5px;
}